body{
  /*background: url('../imgs/background.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-color: #d2e4fc;
}
#marcadaguaLogo { display: none !important; }

.fundo-tecnicos{
  border-bottom: none !important;
  background-color:transparent;
}
h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}
h2{
  font-weight: bold;
  font-size: 36px;
  color: #333;
}
.titulo-geral{
  color: #044585;
}
h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
h4 {
  margin: 0px;
  margin-top: 40px;
}
pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}

.mt-20{margin-top: 20px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}


.painel-abas{padding: 40px;}
.nav-tabs{
  margin-left: 0;
}

.carousel{
  padding: 20px 40px;
}
.carousel-control.left{
  left: -90px;
  background: none;
  color: #000;
}
.carousel-control.right{
  right: -90px;
  background: none;
  color: #000;
}
.carousel-indicators{
  bottom: 0;
  margin-bottom: 0px;
}
.carousel-indicators .active{
  background-color: #2875C6;
}
.carousel-indicators li{
  border: 1px solid #2875C6;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #2875C6;
  border: 1px solid #1d5591;
  border-bottom-color: transparent;
}

.codigo-destaque{
  background: #000;
  color: #a39e9b;
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.code-destaque{
  background-color: #071772 !important;
}


.txt-popover{
  text-decoration: underline;
  cursor: pointer;
  color: #2875C6;
}

.marcador-seta li {
  list-style-image: url("../imgs/setas.png");
}
.marcador-seta{
    background-color: #D2E4FC;
    padding: 3em;
    margin: 0.9em;
    border-radius: 1em;
}

.img-titulo{
  margin-top: 120px;
}
.div-titulo{
  padding-left: 40px;
}
.img-borda{
  position: absolute;
  margin-left: -70px;
}

.btn-android{
  display: block;
  width: 167px;
  height: 167px;
  border: none;
  margin: 20px auto;
  background: url("../imgs/bt_android.png") no-repeat;
  background-size: 100%;
}
.btn-android:hover{background-image: url("../imgs/bt_android_hv.png");}

.btn-ferramentas{
  display: block;
  width: 280px;
  height: 91px;
  border: none;
  margin: 20px auto;
}
.btn-ferramenta01{background: url("../imgs/bt_controle_de_modificacao.png") no-repeat; background-size: 100%;}
.btn-ferramenta02{background: url("../imgs/bt_gerenciamento_de_construcao.png") no-repeat; background-size: 100%;}
.btn-ferramenta03{background: url("../imgs/bt_controle_de_versao.png") no-repeat; background-size: 100%;}
.btn-ferramenta01:hover{background-image: url("../imgs/bt_controle_de_modificacao_hv.png");}
.btn-ferramenta02:hover{background-image: url("../imgs/bt_gerenciamento_de_construcao_hv.png");}
.btn-ferramenta03:hover{background-image: url("../imgs/bt_controle_de_versao_hv.png");}

.linha-imagem{
  width: 740px;
  margin: 0 auto;
}

.painel-clicavel{
  background: url('../imgs/painel.png') no-repeat;
  background-position: center center;
  width: 600px;
  height: 492px;
  padding-top: 30px;
  margin: 10px auto;
}
.div-licencas{
  width: 540px;
  margin: 0px auto;
}
.btn-licencas{
  display: block;
  width: 200px;
  height: 66px;
  border: none;
  margin: 12px auto;
}
.btn-licenca01{background: url("../imgs/bt_apache.png") no-repeat; background-size: 100%;}
.btn-licenca02{background: url("../imgs/bt_mozilla.png") no-repeat; background-size: 100%;}
.btn-licenca03{background: url("../imgs/bt_gplv3.png") no-repeat; background-size: 100%;}
.btn-licenca04{background: url("../imgs/bt_mit.png") no-repeat; background-size: 100%;}
.btn-licenca05{background: url("../imgs/bt_bsd3.png") no-repeat; background-size: 100%;}

.btn-licenca01:hover{background: url("../imgs/bt_apache_hover.png") no-repeat; background-size: 100%;}
.btn-licenca02:hover{background: url("../imgs/bt_mozilla_hover.png") no-repeat; background-size: 100%;}
.btn-licenca03:hover{background: url("../imgs/bt_gplv3_hover.png") no-repeat; background-size: 100%;}
.btn-licenca04:hover{background: url("../imgs/bt_mit_hover.png") no-repeat; background-size: 100%;}
.btn-licenca05:hover{background: url("../imgs/bt_bsd3_hover.png") no-repeat; background-size: 100%;}

.marcador-seta.quadro-bg{
    border: 2px solid #074986;
    padding: 50px;
    background-color: #D2E4FC;
}

@media screen and (max-width: 820px){
  .painel2{
    width: 100%;
    background-size: contain;
  }
  .div-titulo{
    border: #66a4f3 solid 2px;
    border-radius: 20px;
  }
  .linha-imagem{
    width: 100%;
  }
}
@media screen and (max-width: 480px){
  .painel2{
    padding-top: 300px;
    height: auto;
  }
  .painel2 button{
    margin: 10px auto;
    display: block;
  }
  .caixa-destaque code{
    word-break: break-word;
  }

  .painel-clicavel{
    background: none;
    width: 100%;
    height: 100%;
    padding-top: 0px;
  }
  .div-licencas{
    width: 100%;
  }
}